<ion-header>
  <ion-toolbar>

    <ion-button class="change" tappable (click)="changeUnits()">{{ getUnitString() }}</ion-button>
    <ion-title>Weather by Fedor</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="addCity()">
        <ion-icon name ='add'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
    pulllingIcon="arrow-dropdown"
    refreShingspinner="circles"
    ></ion-refresher-content>
  </ion-refresher>
  <ion-slides class="slides" pager="true" #slides (ionSlideWillChange)="cityChanged()"
  [ngStyle]="
  { 'background': background, 
    'background-size':bp
  }"
  >
    <ion-slide *ngFor="let place of entries">
      <div *ngIf="place.weather">
        <h3 class="city">{{ place.weather.name }}</h3>
        <p class="description"> {{ place.weather.weather[0]?.description | uppercase }} </p>

        <div class="today" >
          <span class="today-info">
            <i class="fas fa-wind"></i>
            <p>{{ place.weather.wind.speed }} {{ getWindSpeed() }}</p>
        </span>

        <span class="today-info">
          <div class="today-info-sun">
            <i class="fas fa-sun"></i>
          </div>
          <div class="today-info-time">
            <div class="sunset">
              <i class="fas fa-arrow-up"></i>
              <span>{{ place.weather.sys.sunrise * 1000 | date: 'h:mm a' }}</span>
            </div>
            <div class="sunrise">
              <i class="fas fa-arrow-down"></i>
              <span>{{ place.weather.sys.sunset * 1000 | date: 'h:mm a' }}</span>
            </div>
          </div>
          
          </span>
          
          <span class="today-info">
            <i class="fas fa-tint"></i>
            <p>{{ place.weather.main.humidity }}%</p>
          </span>
        </div>

        <h2 class="temp">{{ place.weather.main.temp.toFixed() }}°</h2>
        <span class="maxlow">H:{{ place.weather.main.temp_max.toFixed() }}° L:{{ place.weather.main.temp_min.toFixed() }}°</span>

        <ion-slides [options]="sliderConfig" *ngIf="place.forecast" class="forecast">
          <ion-slide *ngFor="let fc of place.forecast?.list" class="forecast-list">
            <span class="forecast-list-weekday">{{ fc.dt*1000 | date: 'EEEE' }}</span> <br>
            <span class="forecast-list-date">{{ fc.dt*1000 | date: 'MMMM d' }} </span> <br>
            <span class="forecast-list-time">{{ fc.dt*1000 | date: 'hh:mm a' }}</span>
            <img [src]="getWeatherIcon(fc.weather[0]?.icon)" alt="">
            <span class="forecast-list-temp">{{ fc.main.temp.toFixed() }}°</span>
          </ion-slide>
        </ion-slides>
      </div>

      <ion-list class="next-days" lines="none">
        <ion-item *ngFor="let day of place.nextDays" class="next-days-info">
          <ion-label>
            <span>{{ day.date | date: 'EEEE' }}</span>
          </ion-label>
          <span class="next-days-max">{{ day.max }}</span>
          <span class="next-days-min">{{ day.min }}</span>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>

</ion-content>
