ion-content{
  font-family: 'EB Garamond', serif;
}

ion-toolbar {
  display: flex;
  border:none;
  color: #000;
  --background: linear-gradient(to right, #c9d6ff, #e2e2e2);  /* Chrome 10-25, Safari 5.1-6 */
  }

.forecast{
  margin: 5rem 0 3rem 0;
  height: 30vh;
  &-list{
    border-radius: 20px;
    color: #fff;
    padding: 1rem 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 .3rem;
    background-color: rgba(0, 0, 0, 0.322);
    &-weekday{
      font-size: .9rem;
    }
    &-temp{
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}
.swiper-slide{
  display: initial;
}
.next-days{
  --ion-item-background: transparent;
 margin-top: 2rem;
}
.next-days-info{
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 0.5rem 0;
  font-family: 'EB Garamond', serif;
  background-color: rgba(0, 0, 0, 0.377);
  font-size: 1.2rem;
  color: #fff;
  &:last-child{
    border-bottom: none;
  }
}
.next-days-max, .next-days-min{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 10%;
}
.today{
  margin-top: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  & i{
    margin-right: 0.4rem;
  }
  &-info{
    display: flex;
    align-items: center;
  }
}
.fas{
  font-size: 1.5rem;
}
.fa-arrow-up, .fa-arrow-down{
  font-size: .6rem;
}

.sunrise, .sunset{
  display: flex;
  align-items: center;
}

.city{
  font-size: 2.3rem;
  color: #fff;
}
.maxlow{
  font-size: 1.3rem;
  color: #fff;
}
.description{
  font-size: 0.9rem;
  margin: 0;
  color: #fff;
}
.temp{
  margin: 0;
  font-size: 12rem;
  color:#fff;
}

ion-refresher-content {
  background: transparent;
}
.change{
  outline: none;
  width: 3.8rem;
  height: 3.8rem;
  font-size: 1.2rem;
  color: #fff;
  position: absolute;
  top: .5rem;
  left: .5rem;
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: 15px;
  --color: #000;
}
.delete{
  margin: 0.5rem 2rem 2rem 2rem;
  & ion-icon{
    padding: 0 .5rem;
    margin-left: -1rem;
    margin-right: 1rem;
    height: 100%;
    background-color: var(--ion-color-warning);
    color: #fff;

  }
}

.error{
  margin-top: 5rem;
  color: #fff;
  font-size: 3rem;
}
